---
layout: default
---
{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="content formulario-contacto">
      <div class="contacto_perfil">
        <div class="contenedor-imagen">
          <img src="https://avatars.githubusercontent.com/u/83410794?v=4" alt="foto de perfil">
        </div>

        <h2>M. en C. Luis Basto Díaz</h2>
      </div>
      <div class="contacto_links">
        <div class="link_campo" id="link_coordinacion">
          <span>LIS.fmat@correo.uady.mx</span>
          <i class="fa-regular fa-copy"></i>
        </div>
        <div class="link_campo" id="link_institucional">
          <span>luis.basto@correo.uady.mx</span>
          <i class="fa-regular fa-copy"></i>
        </div>
      </div>

      <div class="contacto_teams">
        <p>EQUIPO DE LA COORDINACIÓN LIS (Microsoft Teams)</p>
        <ul>
          <li>Comunicación y atención más ágil con el coordinador de la LIS.</li>
          <li>
            Notificaciones y avisos sobre:
            <ul>
              <li>Reinscripciones/carga de asignaturas</li>
              <li>Procedimiento prácticas profesionales y servicio social</li>
              <li>Modalidades de titulación: EGEL y/o Tesis</li>
              <li>Asignaturas libres y optativas</li>
              <li>Eventos</li>
            </ul>
          </li>
        </ul>
        <div class="centrar">
          <p>INTÉGRATE</p>
          <a>https://tinyurl.com/coordinacionLIS</a>
          <br>
          <img src="https://github.com/luisbastoUADY/luisbastoUADY.github.io/assets/83410794/21ce13cd-d6ce-4f18-9a32-bf86a83d8e80">
        </div>
      </div>
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const links = document.querySelectorAll('.link_campo');

    links.forEach(function (link) {
      link.addEventListener('click', function () {
        const texto = this.querySelector('span').textContent;
        navigator.clipboard.writeText(texto).then(function () {
          const notificacion = document.createElement('div');
          notificacion.textContent = 'Copiado al portapapeles';
          notificacion.classList.add('notificacion');
          const notificacionPadre = document.createElement('div');
          notificacionPadre.classList.add('notificacion_padre');
          notificacionPadre.appendChild(notificacion);
          link.parentNode.appendChild(notificacionPadre);

          setTimeout(function () {
            notificacion.remove();
          }, 2000);
        });
      });
    });
  });
</script>
