---
layout: page
# All the Categories of posts
---
{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign sort_categories = site.categories | sort %}

{% for category in sort_categories %}
  {% assign category_name = category | first %}
  {% assign posts_of_category = category | last %}

  <div class="card categories">
    <div class="card-header">
      <h2>{{ category_name }}</h2>
    </div>

    <div class="card-body">
      <ul>
        {% for post in posts_of_category %}
          <li>
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

