---
layout: page
tags: [asignaturas, profesionales] 
# All the Categories of posts
---
{% include lang.html %}

  <div class="card">
    <div class="card-header">
      <h2>Asignaturas</h2>
    </div>

    <div class="card-body">
      <ul>
          <li>
            <strong>¿Cuál es la diferencia entre una asignatura regular y una asignatura por acompañamiento?</strong> <br>
            R: La asignatura de manera regular es cuando estudias una asignatura por completo.<br>
            La asignatura por acompañamiento prevalece el estudio independiente del alumno con la asesoría del profesor.
          </li>
          <li>
            <strong>¿Cuántas oportunidades tengo para aprobar una asignatura? </strong><br>
            R: Se tienen 4 oportunidades para acreditar una asignatura, dos de manera regular y dos por acompañamiento: la primera de manera regular y las siguientes tres podrán ser de manera regular o por acompañamiento. <br>
            
          </li>
          <li>
            <strong>¿Qué pasa si agoto las 4 oportunidades y no apruebo una asignatura?</strong> <br>
            R: Si no se acredita la asignatura en ese número de oportunidades el estudiante será dado de baja del Programa de Estudio.<br>
          </li>
          <li>
            <strong>¿Cuál es la diferencia entre asignaturas libres y asignaturas optativas?</strong> <br>
            R: Las asignaturas libres complementan tu formación integral, son asignaturas de áreas de conocimiento distintas al Plan de Estudios.<br>
            Las asignaturas optativas complementan tu formación como Ingeniero(a) de Software, son asignaturas de especialización en alguna de las áreas de concentración del Plan de Estudios.<br>            
          </li>
          <li>
            <strong>¿Qué pasa si agoto las 4 oportunidades y no apruebo una asignatura?</strong> <br>
            R: Si no se acredita la asignatura en ese número de oportunidades el estudiante será dado de baja del Programa de Estudio.<br>
          </li>
      </ul>
    </div>
  </div>

    <div class="card-body">
      <ul>
          <li>
            <strong>¿Cuál es la diferencia entre una asignatura regular y una asignatura por acompañamiento?</strong> <br>
            R: La asignatura de manera regular es cuando estudias una asignatura por completo.<br>
            La asignatura por acompañamiento prevalece el estudio independiente del alumno con la asesoría del profesor.
          </li>
          <li>
            <strong>¿Cuántas oportunidades tengo para aprobar una asignatura? </strong><br>
            R: Se tienen 4 oportunidades para acreditar una asignatura, dos de manera regular y dos por acompañamiento: la primera de manera regular y las siguientes tres podrán ser de manera regular o por acompañamiento. <br>
            
          </li>
          <li>
            <strong>¿Qué pasa si agoto las 4 oportunidades y no apruebo la asignatura?</strong> <br>
            R: Si no se acredita la asignatura en ese número de oportunidades el estudiante será dado de baja del Programa de Estudio.<br>
          </li>
          <li>
            <strong>¿Cuál es la diferencia entre asignaturas libres y asignaturas optativas?</strong> <br>
            R: Las asignaturas libres complementan tu formación integral, son asignaturas de áreas de conocimiento distintas al Plan de Estudios.<br>
            Las asignaturas optativas complementan tu formación como Ingeniero(a) de Software, son asignaturas de especialización en alguna de las áreas de concentración del Plan de Estudios.<br>            
          </li>
          <li>
            <strong>¿Qué pasa si agoto las 4 oportunidades y no apruebo una asignatura?</strong> <br>
            R: Si no se acredita la asignatura en ese número de oportunidades el estudiante será dado de baja del Programa de Estudio.<br>
          </li>
      </ul>
    </div>
  </div>

