---
layout: page
# All the Categories of posts
---
{% include lang.html %}

  <div class="card">
    <div class="card-header">
      <h2>Asignaturas</h2>
    </div>

    <div class="card-body">
      <ul>
          <li>
            <strong>¿Cuál es la diferencia entre una asignatura regular y una asignatura por acompañamiento?</strong> <br>
            R: La asignatura de manera regular es cuando estudias una asignatura por completo.<br>
            La asignatura por acompañamiento prevalece el estudio independiente del alumno con la asesoría del profesor.
          </li>
          <li>
            <strong>¿Cuál es la diferencia entre una asignatura regular y una asignatura por acompañamiento? </strong><br>
            R: La asignatura de manera regular es cuando estudias una asignatura por completo.<br>
            La asignatura por acompañamiento prevalece el estudio independiente del alumno con la asesoría del profesor.
          </li>
          <li>
            <strong>¿Cuál es la diferencia entre una asignatura regular y una asignatura por acompañamiento?</strong> <br>
            R: La asignatura de manera regular es cuando estudias una asignatura por completo.<br>
            La asignatura por acompañamiento prevalece el estudio independiente del alumno con la asesoría del profesor.
          </li>
        
      </ul>
    </div>
  </div>

