---
layout: default
refactor: true
---
{% include lang.html %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mt-5">Licenciatura en Ingeniería de Software</h1>

      <div class="objetivo">
        <h2>Objetivo de la Licenciatura</h2>
        <p>
          Formar profesionistas que, mediante un enfoque sistemático, disciplinado y cuantificable, sean competentes en
          los procesos de desarrollo, mantenimiento, innovación y gestión de proyectos de software, para dar solución a
          problemáticas de las organizaciones, así como a necesidades de la sociedad, con apego a la ética profesional.
        </p>
      </div>

      <div class="areas">
        <h2>Áreas de competencia</h2>
        <p class="text-justify">
          El Licenciado en Ingeniería de Software aplica técnicas, herramientas, métodos y procedimientos para
          desarrollar y mantener software de aplicación que resuelvan problemas en diferentes áreas en una organización;
          también, será capaz de administrar los procesos de desarrollo, mantenimiento, calidad, y configuración
          delsoftware, así como realizar investigación sobre los procesos de desarrollo de software, con el propósito
          demejorar la práctica profesional.
        </p>
        <p class="pt-4 pb-4">Por lo anterior, se establecen las siguientes áreas de competencia:</p>

        <ul>
          <li>
            <span>Desarrollo de Software: </span>Desarrolla productos de software de calidad de pequeña a gran escala
            aplicando técnicas, herramientas, métodos y procedimientos, a través de un enfoque sistemático, disciplinado
            y cuantificable.
          </li>

          <li>
            <span>Mantenimiento de Software: </span>Mantiene productos de software heredados en diferentes dominios de
            aplicación, optimizando los recursos humanos, materiales, económicos y de tiempo, y atendiendo las
            necesidades de la organización.
          </li>
          <li>
            <span>Administración de los Procesos de Software: </span>Administra los procesos de desarrollo,
            mantenimiento, calidad y configuración del software, mediante un enfoque sistemático, disciplinado y
            cuantificable, optimizando los recursos humanos, materiales, económicos y de tiempo, con apego a la ética
            profesional.
          </li>
          <li>
            <span>Innovación en Ingeniería de Software: </span>Elabora propuestas de mejora en el desarrollo,
            mantenimiento y administración de los procesos de software, mediante fundamentos matemáticos, ingenieriles,
            de las ciencias computacionales y los propios de la Ingeniería de Software.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
